
.container {
  display: flex;
  height: 640px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.layout-container {
  height: 85%;
  width:40%;
  border: 1px solid black
}